@charset "utf-8";

@import "partials/variables";

@import "partials/commons/fonts";
@import "partials/commons/icons";
@import "partials/commons/common";


// Header ontent
.header-content {
    width: 250px;
    height: 100px;
    position: relative;
    margin: 60px auto;
    text-align: center;
    color: $light;
    line-height: $size-element-intro;
    font-size: $size-element-intro/2;
    opacity: 0;
    transition: $quick-time-transition;

    &.active {
        opacity: 1;
    }

    div {
        width: $size-element-intro;
        height: $size-element-intro;
        display: block;
        border-radius: 100%;
        position: absolute;
        top: 0;

        @mixin introElement($element) {
            box-shadow: 0 0 30px 6px $element;
        }

        &.fire {
            left: 0;
            @include introElement($fire);
        }

        &.earth {
            left: 50%;
            transform: translateX(-50%);
            @include introElement($earth);
        }

        &.water {
            right: 0;
            @include introElement($water);
        }
    }

    span {
        opacity: 0.5;
    }

    &:before {
        content: "";
        display: block;
        width: 1px;
        height: 70px;
        background: $light;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
    }

    &:after {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background: $light;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100% + 70px);
    }
}

h1,h3 {
    font-family: 'Montserrat Light', sans-serif;
    position: absolute;
    color: $light;
    letter-spacing: 3px;
    font-size: 12px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    &:before{
        content:"-- ";
    }

    &:after{
        content:" --";
    }
}


// Start Buttons
.start-buttons {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: $quick-time-transition;

    &.active {
        opacity: 1;
    }
}

.standard-button {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: solid $light 2px;
    background-color: transparent;
    margin: 25px auto 0 auto;
    display: block;
    color: $light;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, .9), inset 0 0 60px 1px rgba(0, 0, 0, .45);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    transition: $quick-time-transition;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
    font-size: 12px;

    &:focus {
        font-size: 16px;
    }
}

.play-button {
    animation: buttonRadiance 3s infinite;

    @keyframes buttonRadiance {
        0%,
        100% {
            box-shadow: 0 0 30px 1px rgba(0, 0, 0, .9), inset 0 0 60px 1px rgba(0, 0, 0, .45);
        }

        50% {
            box-shadow: 0 0 30px 3px rgba(255, 255, 255, .5), inset 0 0 60px 1px rgba(0, 0, 0, .45);
        }
    }
}


// Hide content
.hidden {
    display: none;
}

.transparent {
    opacity: 0;
}


// Back button
.back-button {
    background: transparent;
    color: $light;
    border: none;
    position: absolute;
    top: 23px;
    left: 20px;
    font-size: 13px;  
    opacity: 0;
    transition: $time-transition;
    z-index: 1;

    &.active {
        opacity: 1;
    }
}


// Game content
.game-content {
    opacity: 0;
    transition: $quick-time-transition;

    &.active {
        opacity: 1;
    }
}


// Countdown start
.countdown-start {
    width: 360px;
    height: 520px;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0 0 10px #000000;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: $light;
        font-size: 150px;    
        animation: countdown-start 1s forwards;
        opacity: 0;

        &:nth-child(1) {
            animation-delay: 1s;
        }

        &:nth-child(2) {
            animation-delay: 2s;
        }

        &:nth-child(3) {
            animation-delay: 3s;
        }

        &:nth-child(4) {
            animation-delay: 4s;
        }
    }
}

@keyframes countdown-start {
    0%      {opacity: 0; font-size: 150px;}
    50%     {opacity: 1; font-size: 80px;}
    100%    {opacity: 0; font-size: 80px;}
}


// Countdown timer
.container-countdown-timer {
    font-family: sans-serif;
    color: $light;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    transition: $time-transition;
    font-size: 14px;
    display: flex;
    align-items: center;

    &.active {
        opacity: 1;
    }

    .icon-time {
        margin-right: 3px;
    }

    &.tutorial:before {
        content: '';
        width: 1px;
        height: 15px;
        background: $light;
        position: absolute;
        top: 20px;
        left: 50%;
    }

    &.tutorial:after{
        content: 'You have a minute to try to counteract as many elements as possible';
        color: $light;
        font-size: 10px;
        position: absolute;
        left: 0;
        top: 40px;         
    }
}


// Elements
.fire {
    background: $fire;

    &.tutorial:after {
        content:'Fire button: counteracts the earth element, the yellow one';
    }
}

.earth {
    background: $earth;

    &.tutorial:after {
        content:'Earth button: counteracts the water element, the blue one';
    }
}

.water {
    background: $water;

    &.tutorial:after {
        content:'Water button: counteracts the fire element, the red one';
    }
}

// Tutorial
.fire.tutorial:after,
.earth.tutorial:after,
.water.tutorial:after {
    width: 70px;
    position: absolute;
    top: -75px;
    left: 0;
    color: $light;
    font-size: 10px;
    text-align: left;
}

.fire.tutorial:before,
.earth.tutorial:before,
.water.tutorial:before {
    content: '';
    width: 1px;
    height: 15px;
    background: $light;
    position: absolute;
    top: -25px;
}

// Radiances
.fire-radiance {
    box-shadow: 0 0 7px 3px $fire;
}

.earth-radiance {
    box-shadow: 0 0 7px 3px $earth;
}

.water-radiance {
    box-shadow: 0 0 7px 3px $water;
}


// Enemy elements
.enemy-elements {
    position: relative;
    top: 20px;
    margin-top: (($size-enemy+$margin-enemy)*(-$number-enemies))+(-1*($margin-enemy));
	transition: $time;
    opacity: 0;

    &.active-transition {
        opacity: 1; 
        transition: $time-transition;
    }

    &.active {
        opacity: 1;
        transition: $time;
    }

    &.tutorial:before {
        content: '';
        width: 1px;
        height: 15px;
        background: #fff;
        position: absolute;
        bottom: -25px;
        left: 50%;
    }

    &.tutorial:after {
        content: 'This is the current element to counter';
        color: $light;
        font-size: 10px;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: -40px;
    }

    li {
        display: block;
        width: $size-enemy;
        height: $size-enemy;
        border-radius: 50%;
        position: relative;
        color: $light;
        font-size: $size-enemy/2;
        transition: $time;
		margin: $margin-enemy auto 0 auto;

        &.remove-element {
            transition: $time-transition;
            margin-top: $size-enemy;
            opacity: 0;
            font-size: 0px;
            width: 0;
            height: 0;
        }
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
    }
}

.fire-radiance.mistake-element {
    box-shadow: 0 0 20px 6px $fire;
}

.earth-radiance.mistake-element {
    box-shadow: 0 0 20px 6px $earth;
}

.water-radiance.mistake-element {
    box-shadow: 0 0 20px 6px $water;
}


// Buttons
button {
    outline: 0;
    cursor: pointer;
    touch-action: manipulation;
}

.game-buttons {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    display: block;
    text-align: center;
    transition: $time-transition;

    &.active {
        bottom: 20px;
    }

    &.tutorial {
        bottom: 20px;
        opacity: 0;

        button {
            cursor: inherit;
        }
    }

    &.tutorial-active {
        opacity: 1;
    }

    button {
        border: 3px solid rgba(255, 255, 255, 1);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 35px;
        font-size: 35px;
        color: $light;
        transition: $time;
        position: relative;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);

        &:last-child {
            margin-right: 0;
        }
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .press-button {
        background: $light;
        color: $dark;
        box-shadow: 0 0 300px 5px rgba(256, 256, 256, 0.5);
    }
}


// Results
.results-content {
    color: $light;
    position: absolute;
    top: 0;
    height: calc(100% - 70px);
    width: calc(100% - 70px);
    padding: 35px;
    opacity: 0;
    transition: $time-transition;

    &.active {
        opacity: 1;
    }
    
    h3 {
        bottom: inherit;
        top: 60px;
        width: auto;
    }

    button {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
    }

    .info-results {
        position: absolute;
        top: 120px;
        font-size: 14px;
    }    

    p {
        margin-bottom: 12px;

        &:before{
            content: "- ";
            letter-spacing: 3px;
        }
    }
}


// Media Queries
@media only screen and (max-width: 425px) {
    .enemy-elements,
    .back-button,
    .container-countdown-timer {
        top: 20px;
    }

    .countdown-start {
        width: 100%;
        height: 100vh;
    }
}

@media only screen and (max-width: 340px) {
    .game-buttons {
         button {
            margin-right: 20px;
        }
    }
}