// Game buttons

.game-buttons {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    display: block;
    text-align: center;
    transition: $time-transition;

    &--active {
        bottom: 20px;
    }

    &--tutorial {
        bottom: 20px;
        opacity: 0;
    }

    &--tutorial-active {
        opacity: 1;
    }
}
