// Timer

.timer {
    font-family: sans-serif;
    color: $light;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: $time-transition;
    font-size: 14px;
    display: flex;
    align-items: center;

    .timer__icon {
        font-family: "icomoon";
        margin-right: 3px;

        &:before {
            content: "\e903";
        }
    }

    &--tutorial {
        &:before {
            content: "";
            width: 1px;
            height: 15px;
            background: $light;
            position: absolute;
            top: 20px;
            left: 50%;
        }

        &:after {
            content: "You have a minute to try to counteract as many elements as possible";
            color: $light;
            font-size: 10px;
            position: absolute;
            left: 0;
            top: 40px;
        }
    }
}