// Title

.title {
    font-family: "Montserrat Light", sans-serif;
    color: $light;
    letter-spacing: 3px;
    font-size: 12px;
    width: 100%;

    &:before{
        content:"-- ";
    }

    &:after{
        content:" --";
    }

    &--results {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 60px;
        width: auto;
    }
}