// Buttons

button {
  outline: 0;
  cursor: pointer;
  touch-action: manipulation;
}

.button {
  &--default {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: solid $light 2px;
    background-color: transparent;
    margin: 25px auto 0 auto;
    display: block;
    color: $light;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.9),
      inset 0 0 60px 1px rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    transition: $quick-time-transition;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
    font-size: 12px;

    &:focus {
      font-size: 16px;
    }
  }

  &--play {
    animation: buttonRadiance 3s infinite;

    @keyframes buttonRadiance {
      0%,
      100% {
        box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.9),
          inset 0 0 60px 1px rgba(0, 0, 0, 0.45);
      }

      50% {
        box-shadow: 0 0 30px 3px rgba(255, 255, 255, 0.5),
          inset 0 0 60px 1px rgba(0, 0, 0, 0.45);
      }
    }
  }

  &--back {
    background: transparent;
    color: $light;
    border: none;
    position: absolute;
    top: 23px;
    left: 20px;
    font-size: 13px;
    transition: $time-transition;
    z-index: 1;

    @media only screen and (max-width: 425px) {
      top: 20px;
    }
  }

  &--return {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--game {
    border: 3px solid $light;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 35px;
    font-size: 35px;
    color: $light;
    transition: $time;
    position: relative;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);

    @media only screen and (max-width: 340px) {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &--fire {
    background: $fire;

    &.button--tutorial:after {
      content: 'Fire button: counteracts the earth element, the yellow one';
    }
  }

  &--earth {
    background: $earth;

    &.button--tutorial:after {
      content: 'Earth button: counteracts the water element, the blue one';
    }
  }

  &--water {
    background: $water;

    &.button--tutorial:after {
      content: 'Water button: counteracts the fire element, the red one';
    }
  }

  &__game-symbol {
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--fire:before {
      content: '\e902';
    }

    &--earth:before {
      content: '\e901';
    }

    &--water:before {
      content: '\e900';
    }
  }

  &--game-pressed {
    background: $light;
    color: $dark;
    box-shadow: 0 0 300px 5px rgba(256, 256, 256, 0.5);
  }

  &--tutorial {
    cursor: inherit;

    &:before {
      content: '';
      width: 1px;
      height: 15px;
      background: $light;
      position: absolute;
      top: -25px;
    }

    &:after {
      width: 76px;
      position: absolute;
      top: -75px;
      left: 0;
      color: $light;
      font-size: 10px;
      text-align: left;
    }
  }
}
