// Elements

.element {
  display: block;
  width: $size-element;
  height: $size-element;
  border-radius: 50%;
  position: relative;
  color: $light;
  font-size: $size-element/2;
  transition: $time;
  margin: $margin-element auto 0 auto;

  &__symbol {
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;

    &--header {
      font-size: $size-element-header/2;
    }

    &--fire:before {
      content: '\e902';
    }

    &--earth:before {
      content: '\e901';
    }

    &--water:before {
      content: '\e900';
    }
  }

  &--header {
    width: $size-element-header;
    height: $size-element-header;
    margin: 0;
  }

  &--remove {
    transition: $time-transition;
    margin-top: $size-element;
    opacity: 0;
    font-size: 0px;
    width: 0;
    height: 0;
  }

  &--tutorial {
    &:after {
      width: 70px;
      position: absolute;
      top: -75px;
      left: 0;
      color: $light;
      font-size: 10px;
      text-align: left;
    }

    &:before {
      content: '';
      width: 1px;
      height: 15px;
      background: $light;
      position: absolute;
      top: -25px;
    }
  }

  &--fire {
    background-color: $fire;
    box-shadow: 0 0 7px 3px $fire;

    &.element--header {
      box-shadow: 0 0 30px 6px $fire;
    }

    &.element--mistake {
      box-shadow: 0 0 20px 6px $fire;
    }
  }

  &--earth {
    background-color: $earth;
    box-shadow: 0 0 7px 3px $earth;

    &.element--header {
      box-shadow: 0 0 30px 6px $earth;
    }

    &.element--mistake {
      box-shadow: 0 0 20px 6px $earth;
    }
  }

  &--water {
    background-color: $water;
    box-shadow: 0 0 7px 3px $water;

    &.element--header {
      right: 0;
      box-shadow: 0 0 30px 6px $water;
    }

    &.element--mistake {
      box-shadow: 0 0 20px 6px $water;
    }
  }
}
