// Fonts

@font-face {
  font-family: 'Montserrat Light', sans-serif;
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
