// Variables

$fire: #e02125;
$earth: #f6c82e;
$water: #2a9ddb;

$dark: #0a0a0a;
$light: #fff;
$grey: #535353;

$size-element-intro: 36px;
$time-intro: 2s;

$size-enemy: 50px;
$margin-enemy: 25px;
$number-enemies: 196;

$time: 0.2s;
$time-transition: 0.5s;
$quick-time-transition: 0.3s;
